{% extends "base.html" %}
{% block title %}Buy_Sell{% endblock %}
{% block content %}
<h1 class="text-white">BUY/SELL</h1>
<h2 class="text-white">This is the place where all the fun happens!</h2>
<p class="text-white">This is a application designed to help teach you all about buying and selling stocks <br> If you have a general question about buying and selling stocks 
    we have plenty of resources for you down below (have links to stock articles and videos)<br>
    We also have a great FaQ if you are having troubles navigating or using the applicaiton! <br>
    If you are encountering an unexpected error, please go to the contact page and send us an email about the problem!
</p>
{% endblock %}