{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block navbar %} {% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-white">Create an Account</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-white fw-bold fs-5">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
       
        <form method="POST" action="{{ url_for('create_account') }}">
            <div class="mb-3">
                <label for="firstName" class="form-label text-white">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label text-white">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label text-white">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label text-white">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label text-white">Password</label>
                <input type="text" class="form-control" id="password" name="password" required>
            </div>

            <div class="mb-3">
                <label for="admin" class="form-label text-white">Is this an admin account? (y n)</label>
                <input type="text" class="form-control" id="admin" name="admin" required>
            </div>

            <button type="submit" class="btn btn-primary">Create Account</button>
            <a href="{{ url_for('login') }}" class="btn btn-secondary">Cancel</a>
        </form>

    </div>
{% endblock %}