{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h1 class="text-white">Dashboard</h1>
<h2 class="text-white">This is the start of group 11's stock simulation project</h2>
<p class="text-white">A lot of work still need to be done, specifically on the design and looks. <br>Eventually this page will look fantastic, this was just to prove that we have a start
    and have templates set up for the project<br> As you can see this is the home page and eventually there will be stocks displayed here, for now however navigate using the bar in the top right
</p>
{% endblock %}