{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h1 class="text-white">Dashboard</h1>
<div class="mt-4">
    <h3 class="text-white">Available Stocks</h3>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company Name</th>
                <th>Price</th>
                <th>High</th>
                <th>Low</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.stock_symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>${{ "%.2f"|format(stock.price_per_share) }}</td>
                <td>${{ "%.2f"|format(stock.high_price) if stock.high_price is not none else 'N/A'}}</td>
                <td>${{ "%.2f"|format(stock.low_price) if stock.low_price is not none else 'N/A'}}</td>
                <td>{{ stock.quantity }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center">No stocks available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}